.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.swiper_navigation_wrapper {
  width: 100%;
}

.swiper_pagination {
  font-size: 1.4rem;
  margin: 0 0 20px 0;
}

.swiper_pagination_current {
  font-size: 1.4rem;
}

.swiper_pagination_total {
  font-size: 1.4rem;
}

.swiper_navigation {
  display: flex;
  gap: 20px;
  margin: 0 0 56px 0;
}

.swiper_navigation_button_circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #42567a;
  display: flex;
  justify-content: center;
  align-items: center;
  --arror-width: 15px;
  --arror-height: 15px;
}

.swiper_navigation_arrow_left {
  background-image: url(../../images/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: var(--arror-width);
  height: var(--arror-height);
}

.swiper_navigation_arrow_right {
  background-image: url(../../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: var(--arror-width);
  height: var(--arror-height);
}

.info_item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
  height: 100%;
}

.info_heading {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: #3877ee;
}

.info_paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #42567a;
}
.swiper_navigation_prev {
  cursor: pointer;
}

.swiper_navigation_next {
  cursor: pointer;
}

.swiper_navigation_prev.swiper_button_disabled,
.swiper_navigation_next.swiper_button_disabled {
  opacity: 0.5;
  pointer-events: none;
}


.swiper_wrapper {
  width: 97%;
  position: relative;
}

.swiper_slide_prev {
  position: absolute;
  top: 50%;
  left: -65px;
  cursor: pointer;
  transform: translate(0, -50%);
}
.swiper_slide_next {
  position: absolute;
  top: 50%;
  right: -65px;
  cursor: pointer;
  transform: translate(0, -50%);
}

.swiper_slide_button_circle {
  height: 40px;
  width: 40px;
  box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  --arror-width: 15px;
  --arror-height: 15px;
}

.swiper_slide_arrow_left {
  background-image: url(../../images/arrow-left-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: var(--arror-width);
  height: var(--arror-height);
}
.swiper_slide_arrow_right {
  background-image: url(../../images/arrow-right-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: var(--arror-width);
  height: var(--arror-height);
}

.swiper_slide_prev.swiper_button_disabled,
.swiper_slide_next.swiper_button_disabled {
  display: none;
}
