.slider {
  width: 100%;
  height: 100%;
}

.slider_pagination {
  font-size: 1.4rem;
  margin: 0 0 20px 0;
}

.slider_navigation {
  display: flex;
  gap: 20px;
  margin: 0 0 56px 0;
}

.slider_navigation_button_circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #42567a;
  display: flex;
  justify-content: center;
  align-items: center;
  --arror-width: 15px;
  --arror-height: 15px;
}

.slider_navigation_arrow_left {
  background-image: url(../../images/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: var(--arror-width);
  height: var(--arror-height);
}

.slider_navigation_arrow_right {
  background-image: url(../../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: var(--arror-width);
  height: var(--arror-height);
}

.info_item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
  height: 100%;
}

.info_heading {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: #3877EE;
}

.info_paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #42567a;
}
